body, button {
    font-family: Tahoma, Geneva, sans-serif;
}

.ui-button-text {
    font-size: 14px;
}

.error {
    color: red;
}
.evaluation {
    color: blue;
    font-style: italic;
}
.tip {
    color: gray;
    font-family: Lucida Console, Monaco5, monospace;
}
div#output pre {
    display: inline;
}

.CodeMirror {
    font-size: 16px;
}

/* Auto resize */
.CodeMirror-scroll {
    height: auto;
    overflow-y: hidden;
    overflow-x: auto;
}